@model Veterinary.Data.Entities.DocumentType

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h3>Document Type</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="Document" class="control-label"></label>
                    <input asp-for="Document" class="form-control" />*@
                <ejs-textbox ejs-for="Document" id="document" placeholder="Description" type="text" floatLabelType="Auto"></ejs-textbox>
                <span asp-validation-for="Document" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index"class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
