@model Veterinary.Models.DoctorDetailsViewModel


<div class="col-md-12">
    <div class="form-group">
        <ejs-textbox ejs-for="GetDoctor.FullName" id="fullname" type="text" placeholder="Full Name" floatLabelType="Always" readonly="true" cssClass="e-outline"></ejs-textbox>
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <ejs-textbox ejs-for="GetDoctor.Nationality" id="nationality" placeholder="Nationality" type="text" floatLabelType="Always" readonly="true" cssClass="e-outline"></ejs-textbox>
    </div>
</div>

<div class="col-md-6">
    <div class="form-group pt-2 ">
        <label class="text-lg-center text-info">
            Gender:

        </label>
        <ejs-radiobutton ejs-for="GetDoctor.Gender" id="radio1" label="Male" value="M" disabled="true"></ejs-radiobutton>
        <ejs-radiobutton ejs-for="GetDoctor.Gender" id="radio2" label="Female" value="F" disabled="true"></ejs-radiobutton>

    </div>
</div>

<div class="col-md-12">
    <div class="form-group">
        <ejs-textbox ejs-for="GetDoctor.Address" id="address" placeholder="Address" type="text" floatLabelType="Always" readonly="true" cssClass="e-outline"></ejs-textbox>
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <ejs-textbox ejs-for="GetDoctor.ZipCode" id="zipcode" placeholder="Zip Code" type="text" floatLabelType="Always" readonly="true" cssClass="e-outline"></ejs-textbox>
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <ejs-textbox ejs-for="GetDoctor.City" id="city" placeholder="City" type="text" floatLabelType="Always" readonly="true" cssClass="e-outline"></ejs-textbox>
    </div>
</div>


<div class="col-md-6">
    <div class="form-group">
        <ejs-textbox ejs-for="GetDoctor.TaxNumber" id="taxnumber" placeholder="Tax Number" type="text" floatLabelType="Always" readonly="true" cssClass="e-outline"></ejs-textbox>
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <ejs-textbox ejs-for="GetDoctor.SSNumber" id="ssnumber" placeholder="Social Security Number" type="text" floatLabelType="Always" readonly="true" cssClass="e-outline"></ejs-textbox>
    </div>
</div>



<div class="col-md-6">
    <div class="form-group">
        <ejs-textbox id="DocumentType" ejs-for="GetDoctor.DocumentType.Description" placeholder="Document" type="text" floatLabelType="Always" readonly="true" cssClass="e-outline">
        </ejs-textbox>
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <ejs-textbox ejs-for="GetDoctor.Document" id="document" placeholder="Nº Document" type="text" floatLabelType="Always" readonly="true" cssClass="e-outline"></ejs-textbox>
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <ejs-textbox id="Specialty" ejs-for="GetDoctor.Specialty.Description" placeholder="Specialty" type="text" floatLabelType="Always" readonly="true" cssClass="e-outline">
        </ejs-textbox>
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <ejs-textbox ejs-for="GetDoctor.PhoneNumber" id="phoneNumber" placeholder="Phone Number" type="text" floatLabelType="Always" readonly="true" cssClass="e-outline"></ejs-textbox>
    </div>
</div>

<div class="col-md-6">
    <div class="datepicker">
        <ejs-datepicker ejs-for="GetDoctor.DateOfBirth" format="dd-MM-yyyy" id="datetimepicker" placeholder="Date Of Birth" floatLabelType="Always" readonly="true" cssClass="e-outline"> </ejs-datepicker>
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <ejs-textbox ejs-for="GetDoctor.User.Email" id="email" placeholder="Email Address" type="text" floatLabelType="Always" readonly="true" cssClass="e-outline"></ejs-textbox>
    </div>
</div>