
@model Veterinary.Data.Entities.Doctor

@{
    ViewData["Title"] = "Doctor Details";
}






<div class="container">

    <div class="card-header bg-info text-white">
        <a style="font-size: 30px"><i class="fa fa-user-md mr-2 text-white-50"></i>Doctor Details</a>
    </div>

    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="card-header bg-primary text-white">
                Profile Information
            </div>
            <div class="wrapper">

                <div class="row no-gutters">

                    <div class="col-md-7">
                        <div class="badge-light w-100 p-md-5 p-4">

                            <form asp-action="DoctorDetails" id="contactForm" name="contactForm" class="contactForm">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="ImageUrl" />

                                <div class="row">
                                    <partial name="_DoctorParcial" />


                                    <div class="col-md-12">
                                       
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <a asp-action="ListDoctor" asp-controller="Doctors" class="btn btn-secondary btn-block"><i class="fa fa-arrow-alt-circle-left"></i> Back to List</a>
                                            <a asp-action="Delete" asp-route-id="@Model.Id" asp-controller="Doctors" class="btn btn-danger btn-block"><i class="fa fa-trash text-white"> Delete</i></a>
                                        </div>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>

                    <div class="col-md-4 d-block align-items-lg-stretch">

                        <div class="card ml-5 mt-5  p-5 border-info">
                            <div class="card-header text-lg-center badge-info ">
                                Porfile picture
                            </div>
                            <div class="card-body text-lg-center">
                                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                                {
                                    <img src="@Url.Content(Model.ImageUrl)" alt="image" style="max-height:88%; max-width:88%; border-radius:10px; margin:auto; cursor:pointer;" />
                                }
                                else
                                {
                                    <img src="/images/img.jpg" alt="image" style="max-height:88%; max-width:88%; border-radius:10px; margin:auto; cursor:pointer;" />
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


