
@model IEnumerable<Veterinary.Data.Entities.Doctor>

@{
    ViewData["Title"] = "List Doctors";
}




@{

    List<object> commands = new List<object>();

    //commands.Add(new { type = "Edit", buttonOption = new { iconCss = "e-icons e-edit text-warning", cssClass = "e-flat" } });
    commands.Add(new { type = "Delete", buttonOption = new { iconCss = "e-icons e-delete text-danger", cssClass = "e-flat" } });
    commands.Add(new { type = "Details", buttonOption = new { content = "", iconCss = "fa fa-list text-info", cssClass = "e-flat" } });

}

<div class="card-header badge-info">
    <h2 class="mb-0">
        <a class="text-lg-center text-white"><i class="fa fa-user-md text-white"></i> List Doctors</a>
    </h2>

    <div class="mb-2">
        <a class="text-lg-left btn-success btn-lg" asp-controller="Doctors" asp-action="RegisterDoctor"><i class="fa fa-plus-circle text-white"></i> Add New</a>
    </div>

    <div class="card-body badge-light">
        <ejs-grid id="Grid" dataSource="Model" allowPaging="true" toolbar="@(new List<string>() {"Search" })" commandClick="commandClick">
            <e-grid-pagesettings pageCount="5"></e-grid-pagesettings>
            <e-grid-searchsettings ignoreAccent="true"></e-grid-searchsettings>
            <e-grid-editSettings allowDeleting="false" allowEditing="false" mode="Normal"></e-grid-editSettings>
            <e-grid-columns>
                <e-grid-column field="FullName" headerText="Name" textAlign="Justify" width="100"></e-grid-column>
                <e-grid-column field="Address" headerText="Address" width="100" textAlign="Justify"></e-grid-column>
                <e-grid-column field="TaxNumber" headerText="Tax Number" width="50" textAlign="Justify"></e-grid-column>
                <e-grid-column field="Nationality" headerText="Nationality" width="50" textAlign="Justify"></e-grid-column>
                <e-grid-column field="User.Email" headerText="Email" width="50" textAlign="Justify"></e-grid-column>
                <e-grid-column field="DateOfBirth" headerText="Date Of Birth" format="yMd" width="50" textAlign="Justify"></e-grid-column>
                <e-grid-column headerText="Manage Records" width="100" commands="commands"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>

    </div>


</div>


@section Scripts{
    <script type="text/javascript">
       //Todo:Use the Modal - Improvement to be made
        function commandClick(args) {
            
            if (args.commandColumn.type === "Delete") {

                window.location.href = "/Doctors/Delete?id=" + args.rowData.Id;
            }
            else if (args.commandColumn.type === "Details") {

                window.location.href = "/Doctors/DoctorDetails?id=" + args.rowData.Id;
            }
        }

    </script>

}

