@model Veterinary.Models.AppointmentViewModel
<!--Modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-lg-center text-primary"> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form">
                    <div asp-validation-summary="ModelOnly" class="alert-danger"></div>
                    <input asp-for="StartTime" type="hidden" />
                    <input asp-for="EndTime" type="hidden" />
                    <!--Using AntiForgeryToken with Jquery Ajax Request-->
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12 ">
                            <ejs-dropdownlist id="AnimalID" value="Model.AnimalID" dataSource="Model.Animals" placeholder="Select an Animal" floatLabelType="Auto" cssClass="e-outline">
                                <e-dropdownlist-fields text="Name" value="Id"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                            <span asp-validation-for="AnimalID" class="alert-warning"></span>
                        </div>

                        <div class="col-md-12 mt-2">
                            <ejs-dropdownlist id="SpecialtyID" value="Model.SpecialtyID" dataSource="Model.Specialties" placeholder="Select a Specialty" floatLabelType="Auto" cssClass="e-outline" change="specialtychange">
                                <e-dropdownlist-fields text="Description" value="Id"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                            <span asp-validation-for="SpecialtyID" class="alert-warning"></span>
                        </div>

                        <div class="col-md-12 mt-2">
                            <ejs-dropdownlist id="DoctorID" value="Model.DoctorID" dataSource="Model.Doctors" placeholder="Select a Doctor" floatLabelType="Auto" cssClass="e-outline" change="doctorchange" enabled="false">
                                <e-dropdownlist-fields text="FullName" value="Id"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                            <span asp-validation-for="DoctorID" class="alert-warning"></span>
                        </div>

                    </div>

                    <div class="card-footer">
                        <input type="button" value="Create" class="btn btn-success btn-block" onclick="addAppointment()" />
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>

<ejs-scripts></ejs-scripts>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}