@model Veterinary.Models.AppointmentViewModel

<!--Modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-lg-center text-primary"> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Id" type="hidden" />
                    <!--Using AntiForgeryToken with Jquery Ajax Request-->
                    @Html.AntiForgeryToken()
                <div class="row">                    

                    <div class="input-group col-md-12 m-1">                        
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-dog"></i></span>
                        </div>
                        <select asp-for="AnimalID" asp-items="Model.Animals" class="form-control" aria-describedby="inputGroup-sizing-default"></select>
                        <span asp-validation-for="AnimalID" class="text-danger"></span>
                    </div>
                  
                    <div class="input-group col-md-12 m-1 ">
                       
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-hourglass-start"></i></span>
                        </div>
                        <input asp-for="StartTime" type="datetime-local" class="form-control" aria-describedby="inputGroup-sizing-default" />
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>
                    
                    <div class="input-group col-md-12 m-1">                      
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-hourglass-end"></i></span>
                        </div>
                        <input asp-for="EndTime" type="datetime-local" class="form-control" aria-describedby="inputGroup-sizing-default" />
                        <span asp-validation-for="EndTime" class="text-danger"></span>
                    </div>

                    <div class="input-group col-md-12 m-1">
                       
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-hospital-user"></i></span>
                        </div>
                        <select asp-for="SpecialtyID" asp-items="Model.Specialties" class="form-control" onchange="change()"></select>
                        <span asp-validation-for="SpecialtyID" class="text-danger"></span>
                    </div>

                    <div class="input-group col-md-12 m-1">
                        
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user-md"></i></span>
                        </div>
                        <select asp-for="DoctorID" asp-items="Model.Doctors" class="form-control"></select>
                        <span asp-validation-for="DoctorID" class="text-danger"></span>
                    </div>

                </div>

                    <div class="form-group p-2">
                        <input type="button" value="Save" class="btn btn-success btn-block" onclick="editAppointment()" />
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>



@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}