@model Veterinary.Models.ChangeUserViewModel
@{
    ViewData["Title"] = "Change User";
}

<div class="container">

    <div class="card-header bg-info text-white text-lg-center">
        <a style="font-size:30px"><i class="fa fa-user-circle mr-2 text-white-50"></i>User Profile</a>
    </div>
    <div class="row justify-content-center">

        <div class="col-md-12 m-2">
            <div class="wrapper card border-dark bg-secondary">

                <div class="row no-gutters">
                    <div class="col-md-4 d-block pt-5 align-items-lg-stretch">

                        <div class="card m-4  p-5 border-info">
                            <div class="card-header text-lg-center bg-info">
                                Profile picture
                            </div>
                            <div class="card-body text-lg-center ">
                                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                                {

                                    <img src="@Url.Content(Model.ImageUrl)" id="imgpreview" alt="image" style="max-height:88%; max-width:100%; border-radius:10px; margin:auto; cursor:pointer" />
                                }
                                else
                                {
                                    <img src="/images/img.jpg" id="imgpreview" alt="image" style="max-height:88%; max-width:88%; border-radius:10px; margin:auto; cursor:pointer;" />
                                }

                            </div>
                        </div>
                        <div class="text-success ">
                            <p>
                                <h5 class="alert-success">@ViewBag.Message</h5>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-8">


                        <div class="card-header bg-success text-white">
                            Profile Information
                        </div>

                        <div class=" bg-white w-100 p-md-5 p-4 ">

                            <form asp-action="ChangeUser" method="post" name="contactForm" class="contactForm"
                                  enctype="multipart/form-data" id="form">
                                <div asp-validation-summary="ModelOnly" class="alert-danger"></div>
                                <input type="hidden" asp-for="Id" id="id" />
                                <input type="hidden" asp-for="ImageUrl" />
                                <input type="hidden" asp-for="CreatedDate" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="FirstName" id="FirstName" type="text" placeholder="First Name" floatLabelType="Auto" cssClass="e-outline"></ejs-textbox>
                                            <span asp-validation-for="FirstName" class="alert-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="LastName" id="LastName" type="text" placeholder="Last Name" floatLabelType="Auto" cssClass="e-outline"></ejs-textbox>
                                            <span asp-validation-for="LastName" class="alert-danger"></span>
                                        </div>
                                    </div>
                                    <br />


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="Nationality" id="Nationality" placeholder="Nacionality" type="text" floatLabelType="Auto" cssClass="e-outline"></ejs-textbox>
                                            <span asp-validation-for="Nationality" class="alert-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group pt-2 ">
                                            <label class="text-lg-center text-info">
                                                Gender:

                                            </label>
                                            <ejs-radiobutton ejs-for="Gender" id="radio1" label="Male" value="M"></ejs-radiobutton>
                                            <ejs-radiobutton ejs-for="Gender" id="radio2" label="Female" value="F"></ejs-radiobutton>

                                            <span asp-validation-for="Gender" class="alert-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="Address" id="Address" placeholder="Address" type="text" multiline="true" floatLabelType="Auto" cssClass="e-outline"></ejs-textbox>
                                            <span asp-validation-for="Address" class="alert-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="ZipCode" id="ZipCode" placeholder="Zip Code (0000-000)" type="text" floatLabelType="Auto" cssClass="e-outline"></ejs-textbox>
                                            <span asp-validation-for="ZipCode" class="alert-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="City" id="City" placeholder="City" type="text" floatLabelType="Auto" cssClass="e-outline"></ejs-textbox>
                                            <span asp-validation-for="City" class="alert-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="TaxNumber" id="TaxNumber" placeholder="Tax Number" type="text" floatLabelType="Auto" cssClass="e-outline"></ejs-textbox>
                                            <span asp-validation-for="TaxNumber" class="alert-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="PhoneNumber" id="PhoneNumber" placeholder="Phone Number" type="text" floatLabelType="Auto" cssClass="e-outline"></ejs-textbox>
                                            <span asp-validation-for="PhoneNumber" class="alert-danger"></span>
                                        </div>
                                    </div>

                                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Doctor"))
                                    {
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ejs-textbox ejs-for="SSNumber" id="SSNumber" placeholder="Social Security Number" type="text" floatLabelType="Auto" cssClass="e-outline"></ejs-textbox>
                                                <span asp-validation-for="SSNumber" class="alert-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ejs-dropdownlist id="SpecialtyID" value="Model.SpecialtyID" dataSource="Model.Specialties" placeholder="Select a Specialty" floatLabelType="Auto" enabled="false" cssClass="e-outline">
                                                    <e-dropdownlist-fields text="Description" value="Id"></e-dropdownlist-fields>
                                                </ejs-dropdownlist>
                                                <span asp-validation-for="SpecialtyID" class="alert-danger"></span>
                                            </div>
                                        </div>
                                    }


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-dropdownlist id="DocumentTypeID" value="Model.DocumentTypeID" dataSource="Model.Documents" placeholder="Select a document" floatLabelType="Auto" cssClass="e-outline" >
                                                <e-dropdownlist-fields text="Description" value="Id"></e-dropdownlist-fields>
                                            </ejs-dropdownlist>
                                            <span asp-validation-for="DocumentTypeID" class="alert-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="Document" id="Document" placeholder="Nº Document" type="text" floatLabelType="Auto" cssClass="e-outline"></ejs-textbox>
                                            <span asp-validation-for="Document" class="alert-danger"></span>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="datepicker">
                                            <ejs-datepicker ejs-for="SelectDate" format="dd-MM-yyyy" id="SelectDate" placeholder="Select a Date Of Birth" max="@DateTime.Now.AddYears(-1)" floatLabelType="Auto" cssClass="e-outline"></ejs-datepicker>
                                            <span asp-validation-for="SelectDate" class="alert-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-12" style="display:none">
                                        <div class="form-group">
                                            <label>Select a Image</label>
                                            <input asp-for="ImageFile" type="file" id="image" accept="image/*" />
                                            <span asp-validation-for="ImageFile" class="alert-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-12 pt-4 text-lg-center">
                                        <div class="form-group">
                                            <input type="submit" value="Submit Change" class="btn btn-success" id="submit" />
                                            <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Home</a>
                                            <a asp-action="ChangePassword" asp-controller="Account" class="btn btn-warning">Change Password</a>
                                        </div>
                                    </div>



                                </div>
                            </form>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   

}
