@model Veterinary.Models.ChangeUserViewModel
@{
    ViewData["Title"] = "ChangeUser";
}

<div class="container">
    <div class="justify-content-start">

        <a style="font-size: 40px"><i class="fa fa-user mr-2" style="color:green"></i>User Profile</a>

    </div>
    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="wrapper">

                <div class="row no-gutters">

                    <div class="col-md-7">
                        <div class="contact-wrap w-100 p-md-5 p-4">

                            <form asp-action="ChangeUser" method="post"  name="contactForm" class="contactForm"
                                  enctype="multipart/form-data"  >
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="ImageUrl" />
                                <input type="hidden" asp-for="CreatedDate" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="FirstName" id="firstname" type="text" placeholder="First Name" floatLabelType="Auto"></ejs-textbox>
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="LastName" id="lastname" type="text" placeholder="Last Name" floatLabelType="Auto"></ejs-textbox>
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <br />


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="Nationality" id="nationality" placeholder="Nacionality" type="text" floatLabelType="Auto"></ejs-textbox>
                                            <span asp-validation-for="Nationality" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h3>Gender</h3>
                                            <ejs-radiobutton ejs-for="Gender" id="radio1" label="Male" value="M"></ejs-radiobutton>
                                            <ejs-radiobutton ejs-for="Gender" id="radio2" label="Female" value="F"></ejs-radiobutton>
                                            <span asp-validation-for="Gender" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="Address" id="address" placeholder="Address" type="text" multiline="true" floatLabelType="Auto"></ejs-textbox>
                                            <span asp-validation-for="Address" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="ZipCode" id="zipcode" placeholder="Zip Code (0000-000)" type="text" floatLabelType="Auto"></ejs-textbox>
                                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="TaxNumber" id="taxnumber" placeholder="Tax Number" type="text" floatLabelType="Auto"></ejs-textbox>
                                            <span asp-validation-for="TaxNumber" class="text-danger"></span>
                                        </div>
                                    </div>

                                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Doctor"))
                                    {
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ejs-textbox ejs-for="SSNumber" id="ssnumber" placeholder="Social Security Number" type="text" floatLabelType="Auto"></ejs-textbox>
                                                <span asp-validation-for="SSNumber" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <ejs-dropdownlist id="SpecialtyID" ejs-for="SpecialtyID" dataSource="Model.Specialties" placeholder="Select a Specialty" floatLabelType="Auto" enabled="false">
                                                    <e-dropdownlist-fields text="Description" value="Id"></e-dropdownlist-fields>
                                                </ejs-dropdownlist>
                                                <span asp-validation-for="SpecialtyID" class="text-danger"></span>
                                            </div>
                                        </div>
                                    }


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-dropdownlist id="DocumentTypeID" ejs-for="DocumentTypeID" dataSource="Model.Documents" placeholder="Select a document" floatLabelType="Auto">
                                                <e-dropdownlist-fields text="Description" value="Id"></e-dropdownlist-fields>
                                            </ejs-dropdownlist>
                                            <span asp-validation-for="DocumentTypeID" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="Document" id="document" placeholder="Nº Document" type="text" floatLabelType="Auto"></ejs-textbox>
                                            <span asp-validation-for="Document" class="text-danger"></span>
                                        </div>
                                    </div>



                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="PhoneNumber" id="phoneNumber" placeholder="Phone Number" type="text" floatLabelType="Auto"></ejs-textbox>
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="datepicker">
                                            <ejs-datepicker ejs-for="SelectDate" format="dd-MM-yyyy" id="datetimepicker" placeholder="Select a Date Of Birth" max="@DateTime.Now.AddYears(-3)" floatLabelType="Auto"> </ejs-datepicker>
                                            <span asp-validation-for="SelectDate" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Select a Image</label>
                                            <input asp-for="ImageFile" type="file" id="image" accept="image/*" />
                                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="submit" value="Change User" class="btn btn-success" />
                                            <a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary">Home</a>
                                            <a asp-action="ChangePassword" asp-controller="Account" class="btn btn-outline-primary">Change Password</a>
                                            <div class="submitting"></div>

                                        </div>
                                    </div>

                                   

                                </div>
                            </form>

                        </div>
                    </div>

                    <div class="col-md-5 d-flex align-items-stretch">
                        @if (!string.IsNullOrEmpty(Model.ImageUrl))
                        {
                            <div class="col-md-12 d-flex align-items-center">
                                <img src="@Url.Content(Model.ImageUrl)" id="imgpreview" alt="image" class="info-wrap p-5 w-75 img-circle" />
                            </div>
                        }
                        else
                        {
                            <div class="col-md-12 d-flex align-items-center">
                                <img src="../images/img.jpg" id="imgpreview" alt="image" class="info-wrap p-5 w-75 img-circle" />
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*@section Scripts{
    <script type="text/javascript">
        var validFilesTypes = ["bmp","png", "jpg", "jpeg"];

        var file = document.getElementById("image");
        var isValidFile = false;
        file.onchange = function () {
            var path = file.value;
            var ext = path.substring(path.lastIndexOf(".") + 1, path.length).toLowerCase();

            for (var i = 0; i < validFilesTypes.length; i++) {
                if (ext == validFilesTypes[i]) {
                    isValidFile = true;
                    break;
                }
                else {
                    isValidFile = false;
                }
            }

            if (!isValidFile) {

                swal("System warning", "Invalid File. Please upload a File with" +
                    " extension:\n" + validFilesTypes.join(", "), "warning");
                file.value = "";
            }
            else {
                var result = document.getElementById("imgpreview");
                alert(result);
                result.src = URL.createObjectURL(event.target.files[0]);
            }

        }

        
        
        //function completed(data) {
        //    //$.validator.unobtrusive.parse($form);
           
        //        swal("Success", "User updated!", "success");
          
        //};

        //function error(data) {
        //    swal("Error", "User updated!", "error");
        //};


        $(document).ready(function () {

            $("#submitForm").submit(function (e) {
                e.preventDefault();

                //var fileInput = $('#image').value[0];
                //var file = fileInput.files[0];
                ////fdata.append("ImageFile", file);
                var valdata = $("#submitForm").serialize();
                //valdata.append("ImageFile", file)
                alert(valdata);

                $.ajax({
                    type: 'post',
                    url: '@Url.Action("ChangeUser")',
                    data: valdata,
                    dataType: 'json',
                    success: function (response) {

                        swal("Success", "User updated!", "success");
                    },
                    error: function (data) {
                        swal("Error", "The user couldn't be updated!", "error");

                    }
                });
            });
        });
    </script>

    <script type="text/javascript">


        var previewimg = function (event) {
            var result = document.getElementById("imgpreview");            
            result.src = URL.createObjectURL(event.target.files[0]);
        }
    </script>


}*@
