@using Syncfusion.EJ2.SplitButtons;
@model Veterinary.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

@{
    var spinRight = new ProgressButtonSpinSettings() { Position = SpinPosition.Right };
}

<div class="login-container row mt-5">
    <div class="login-box col-md-5">

        <form method="post" asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="alert-danger"></div>

            <div class="card">
                <div class="card-header bg-info text-lg-center">
                    <h2 style="font-size:30px"><span class="flaticon-pawprint-1 mr-2 text-white-50"></span>Change Password</h2>
                </div>

                <div class="card-body">
                    <div class="form-group">
                        <ejs-textbox id="oldpw" ejs-for="OldPassword" type="password" cssClass="e-outline" floatLabelType="Auto" placeholder="Old Password"></ejs-textbox>
                        <span asp-validation-for="OldPassword" class="alert-danger"></span>
                    </div>

                    <div class="form-group">
                        <ejs-textbox id="newpw" ejs-for="NewPassword" type="password" cssClass="e-outline" floatLabelType="Auto" placeholder="New Password"></ejs-textbox>
                        <span asp-validation-for="NewPassword" class="alert-danger"></span>
                    </div>

                    <div class="form-group">
                        <ejs-textbox id="confirmpw" ejs-for="Confirm" type="password" cssClass="e-outline" floatLabelType="Auto" placeholder="Repeat Password"></ejs-textbox>
                        <span asp-validation-for="Confirm" class="alert-danger"></span>
                    </div>
                </div>

                <div class="card-footer border-dark bg-light">
                    <div class="form-group">
                        <ejs-progressbutton id="spinright" content="Submit" isPrimary="true" spinSettings="spinRight" cssClass="e-success e-block"></ejs-progressbutton>
                        <a asp-action="ChangeUser" class="e-btn e-secondary e-block mt-2 " ><b><i class="fa fa-arrow-alt-circle-left"></i> Back to user</b></a>
                    </div>
                </div>
            </div>
        </form>
       


    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

