@model Veterinary.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<div class="login-container">
    <div class="login-box">

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="contact-wrap1 w-100 p-md-5 p-4">

                <h2 style="font-size: 50px"><span class="flaticon-pawprint-1 mr-2" style="color:green"></span>Change Password</h2>

            </div>

            <div class="form-group">
                <input asp-for="OldPassword" type="password" class="form-control" placeholder="Old Password" required="required">
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password" required="required">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Confirm" type="password" class="form-control" placeholder="Confirm" required="required">
                <span asp-validation-for="Confirm" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-success btn-block btn-lg m-t-5" value="Change">
                <a asp-action="ChangeUser" class="btn btn-secondary btn-block btn-lg">Back to user</a>
            </div>
            
        </form>
        


    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

