@model Veterinary.Data.Entities.Client

@{
    ViewData["Title"] = "Client Details";
}


<div class="container">
    <div class="justify-content-start">

        <a style="font-size: 40px"><i class="fa fa-user mr-2" style="color:green"></i>User Details</a>

    </div>
    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="wrapper">

                <div class="row no-gutters">

                    <div class="col-md-7">
                        <div class="contact-wrap w-100 p-md-5 p-4" style="background-color:lightcyan">

                            <form method="get" id="contactForm" name="contactForm" class="contactForm" enctype="multipart/form-data">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="ImageUrl" />
                                <div class="row">
                                    <partial name="_ClientParcial" />

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <a asp-action="ListClient" asp-controller="Account" class="btn btn-outline-primary">Back to List</a>
                                            <a asp-action="Delete" asp-route-id="@Model.Id" asp-controller="Account" class="btn btn-danger">Delete</a>
                                        </div>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>

                    <div class="col-md-5 d-flex align-items-stretch">
                        @if (!string.IsNullOrEmpty(Model.ImageUrl))
                        {
                            @*<img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width: 300px; height: 300px; max-width:100%;height:auto;" />*@
                            <div class="info-wrap w-100 p-5 img" style=" background-image: url( @Url.Content(Model.ImageUrl) );">
                            </div>
                        }
                        else
                        {
                            <div class="info-wrap w-100 p-5 img" style="  background-image: url(@Url.Content("~/images/img.jpg") );">
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

