
@model Veterinary.Models.RecoverPasswordViewModel

@{
    ViewData["Title"] = "RecoverPassword";
}


<div class="login-container">
    <div class="login-box">

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="contact-wrap1 w-100 p-md-4 p-4">

                <h2 style="font-size: 50px"><span class="flaticon-pawprint-1 mr-2" style="color:green"></span>Recover Password</h2>

            </div>

            <div class="form-group">
                <input asp-for="Email" type="email" class="form-control" placeholder="email@recover.com" required="required">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" class="btn btn-success btn-block btn-lg m-t-5" value="Recover password">
                <a asp-action="Login" class="btn btn-secondary btn-block btn-lg">Back to login</a>
            </div>

        </form>

        <div class="text-success">
            <p>
                @ViewBag.Message
            </p>
        </div>

    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

