
@model Veterinary.Models.RecoverPasswordViewModel

@using Syncfusion.EJ2.SplitButtons;
@{
    var spinRight = new ProgressButtonSpinSettings() { Position = SpinPosition.Right };

}


@{
    ViewData["Title"] = "Recover Password";
}


<div class="login-container row mt-5">
    <div class="login-box col-md-5">

        <form method="post" asp-action="RecoverPassword">
            <div asp-validation-summary="ModelOnly" class="alert-danger"></div>

            <div class="card">
                <div class="card-header badge-info text-lg-center">
                    <h2 style="font-size:30px"><span class="flaticon-pawprint-1 mr-2 text-white-50"></span>Recover Password</h2>
                </div>

                <div class="card-body">

                    <div class="form-group">
                        <ejs-textbox id="recoverEmail" ejs-for="Email" type="email" cssClass="e-outline" floatLabelType="Auto" placeholder="email@recover.com"></ejs-textbox>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="card-footer border-dark badge-light">
                    <div class="form-group">
                        <ejs-progressbutton id="spinright" content="Submit" isPrimary="true" spinSettings="spinRight" cssClass="e-success e-block"></ejs-progressbutton>
                        <a asp-action="Login" class="e-btn e-secondary e-block mt-2 "><b><i class="fa fa-sign-in-alt"></i> Login</b></a>
                    </div>
                </div>
            </div>
        </form>

        <div class="card-footer border-info border badge-light">
            <div class="alert-success text-lg-center">

                @ViewBag.Message

            </div>
        </div>

    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

