@model Veterinary.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
}

<div class="login-container">
    <div class="login-box">

        <form method="post">

            <div class="contact-wrap1 w-100 p-md-5 p-4">

                <h2 style="font-size: 40px"><span class="flaticon-pawprint-1 mr-2" style="color:green"></span>Reset Password</h2>

            </div>

            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="Token" />

            <div class="form-group">
                <input asp-for="Username" type="text" class="form-control" placeholder="email@recover.com" required="required">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" required="required">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" required="required">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <input type="submit" class="btn btn-primary btn-block btn-lg" value="Reset password">

        </form>

        <div class="text-info">
            <p>
                @ViewBag.Message
            </p>
        </div>

    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}