@model Veterinary.Models.AppointmentViewModel


<!-- Syncfusion Essential JS 2 Scripts -->
<script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div id="myModal" ></div>

    @*<div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <ejs-dropdownlist id="AnimalID" ejs-for="AnimalID" dataSource="Model.Animals" placeholder="Select an Animal" floatLabelType="Auto"
                                      filterBarPlaceholder="Search" allowFiltering="true" ignoreAccent="true">
                        <e-dropdownlist-fields text="Name" value="Id"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                    <span asp-validation-for="AnimalID" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12">

                <div class="form-group">
                    <ejs-dropdownlist id="specialtyid" ejs-for="SpecialtyID" dataSource="Model.Specialties" placeholder="Select a Specialty" floatLabelType="Auto"
                                      change="specialtychange" popupHeight="auto" value="null" filterBarPlaceholder="Search" allowFiltering="true" ignoreAccent="true">
                        <e-dropdownlist-fields text="Description" value="Id"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                    <span asp-validation-for="SpecialtyID" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12">

                <div class="form-group">
                    <ejs-dropdownlist id="doctorid" ejs-for="DoctorID" dataSource="Model.Doctors" placeholder="Select a Doctor" floatLabelType="Auto" enabled="false"
                                      popupHeight="auto" value="null" filterBarPlaceholder="Search" allowFiltering="true" ignoreAccent="true">
                        <e-dropdownlist-fields text="FullName" value="Id"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                    <span asp-validation-for="DoctorID" class="text-danger"></span>
                </div>

            </div>
        </div>*@

    @*<div class="form-group">
            <button onclick="ajaxSubmit()" class="btn btn-success btn-block">Save</button>
        </div>*@


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
