@model Veterinary.Models.AdminAnimalDetailViewModel

@{
    ViewData["Title"] = "Details";
}


<div class="container">
    <div class="justify-content-start">

        <a style="font-size: 40px"><i class="fa fa-list mr-2" style="color:green"></i>@Model.Animal.Name Details </a>

    </div>
    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="wrapper">

                <div class="row no-gutters">

                    <div class="col-md-7">
                        <div class="contact-wrap w-100 p-md-5 p-4">

                            <form method="get" id="contactForm" name="contactForm" class="contactForm">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="Animal.Name" id="name" type="text" placeholder="Full Name" floatLabelType="Auto" enabled="false"></ejs-textbox>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="Animal.Breed" id="breed" type="text" placeholder="Breed" floatLabelType="Auto" enabled="false"></ejs-textbox>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h3>Gender</h3>
                                            <ejs-radiobutton ejs-for="Animal.Gender" id="radio1" label="Male" value="M" disabled="true"></ejs-radiobutton>
                                            <ejs-radiobutton ejs-for="Animal.Gender" id="radio2" label="Female" value="F" disabled="true"></ejs-radiobutton>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="datepicker">
                                            <ejs-datepicker ejs-for="Animal.DateOfBirth" format="dd-MM-yyyy" id="datetimepicker" placeholder="Date Of Birth" floatLabelType="Auto" enabled="false"> </ejs-datepicker>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="Animal.Color" id="color" placeholder="Color" type="text" floatLabelType="Auto" enabled="false"></ejs-textbox>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-numerictextbox ejs-for="Animal.Weight" id="weight" placeholder="Weigth" format="###.### kg" step="0.5" min="0" floatLabelType="Auto" enabled="false"></ejs-numerictextbox>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-numerictextbox ejs-for="Animal.Size" id="size" placeholder="Size" format="###.### cm" step="0.5" min="0" floatLabelType="Auto" enabled="false"></ejs-numerictextbox>
                                        </div>
                                    </div>


                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <ejs-textbox id="SpeciesID" ejs-for="Animal.Species.Description" placeholder="Select a Species" floatLabelType="Auto" enabled="false">
                                            </ejs-textbox>

                                        </div>
                                    </div>


                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="Animal.Remarks" id="remarks" placeholder="Remarks" type="text" multiline="true" floatLabelType="Auto" enabled="false"></ejs-textbox>
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter">
                                                <i class="fa fa-user-circle"></i>
                                                Owner Details
                                            </button>
                                            <a asp-action="ListAnimal" asp-controller="Admin" class="btn btn-secondary">Back </a>
                                        </div>
                                    </div>


                                </div>
                            </form>

                        </div>
                    </div>

                    <div class="col-md-5 d-flex align-items-stretch">
                        @if (!string.IsNullOrEmpty(Model.Animal.ImageUrl))
                        {
                            <div class="col-md-12 d-flex align-items-center">
                                <img src="@Url.Content(Model.Animal.ImageUrl)" id="imgpreview" alt="image" class="info-wrap p-5 w-100 img-circle" />
                            </div>
                        }
                        else
                        {
                            <div class="col-md-12 d-flex align-items-center">
                                <img src="../../images/img.jpg" id="imgpreview" alt="image" class="info-wrap p-5 w-75 img-circle" />
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><i class="fa fa-user mr-2" style="color:green"></i> Owner Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <ejs-textbox ejs-for="Client.FullName" id="fullname" type="text" placeholder="Full Name" floatLabelType="Always" enabled="false"></ejs-textbox>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="form-group">
                            <ejs-textbox ejs-for="Client.Address" id="address" placeholder="Address" type="text" floatLabelType="Always" enabled="false"></ejs-textbox>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <ejs-textbox ejs-for="Client.ZipCode" id="zipcode" placeholder="Zip Code" type="text" floatLabelType="Always" enabled="false"></ejs-textbox>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <ejs-textbox ejs-for="Client.TaxNumber" id="taxnumber" placeholder="Tax Number" type="text" floatLabelType="Always" enabled="false"></ejs-textbox>
                        </div>
                    </div>



                    <div class="col-md-6">
                        <div class="form-group">
                            <ejs-textbox ejs-for="Client.PhoneNumber" id="phoneNumber" placeholder="Phone Number" type="text" floatLabelType="Always" enabled="false"></ejs-textbox>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <ejs-textbox ejs-for="Animal.User.Email" id="useremail" placeholder="Email Address" type="text" floatLabelType="Always" enabled="false"></ejs-textbox>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                
            </div>
        </div>
    </div>
</div>