@model Veterinary.Models.AdminAnimalDetailViewModel

@{
    ViewData["Title"] = "Details";
}



<div class="container">

    <br /><br />
    <div class="text-lg-center">
        <div class="card-header bg-info">
            <a class="text-white" style="font-size: 1.5rem"><i class="fa  fa-dog mr-2 text-white-50 "></i>@Model.Animal.Name Details</a>
        </div>
    </div>

    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="wrapper">

                <div class="row no-gutters">

                    <div class="col-md-8">
                        <div class="bg-light w-100 p-md-5 p-4">

                            <form asp-action="Details" method="get" id="contactForm" name="contactForm" class="contactForm">


                                <div class="row">
                                    <button class="btn btn-info btn-block mt-2" type="button" data-toggle="collapse" data-target="#collapseAnimal" aria-expanded="false" aria-controls="collapseTwo">
                                        Animal Information
                                    </button>

                                    <div class="collapse" id="collapseAnimal">
                                        <div class="card card-body bg-gradient-white">

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <ejs-textbox ejs-for="Animal.Name" id="name" type="text" placeholder="Full Name" floatLabelType="Auto" readonly="true" cssClass="e-outline"></ejs-textbox>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <ejs-textbox ejs-for="Animal.Breed" id="breed" type="text" placeholder="Breed" floatLabelType="Auto" readonly="true" cssClass="e-outline"></ejs-textbox>
                                                    </div>
                                                </div>


                                                <div class="col-md-6">
                                                    <div class="form-group pt-2 ">
                                                        <label class="text-lg-center text-info">
                                                            Gender:

                                                        </label>
                                                        <ejs-radiobutton ejs-for="Animal.Gender" id="radio1" label="Male" value="M" disabled="true"></ejs-radiobutton>
                                                        <ejs-radiobutton ejs-for="Animal.Gender" id="radio2" label="Female" value="F" disabled="true"></ejs-radiobutton>

                                                        <span asp-validation-for="Animal.Gender" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="datepicker">
                                                        <ejs-datepicker ejs-for="Animal.DateOfBirth" format="dd-MM-yyyy" id="datetimepicker" placeholder="Date Of Birth" floatLabelType="Auto" readonly="true" cssClass="e-outline"> </ejs-datepicker>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <ejs-textbox ejs-for="Animal.Color" id="color" placeholder="Color" type="text" floatLabelType="Auto" readonly="true" cssClass="e-outline"></ejs-textbox>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <ejs-numerictextbox ejs-for="Animal.Weight" id="weight" placeholder="Weigth" format="###.### kg" step="0.5" min="0" floatLabelType="Auto" readonly="true" cssClass="e-outline"></ejs-numerictextbox>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <ejs-numerictextbox ejs-for="Animal.Size" id="size" placeholder="Size" format="###.### cm" step="0.5" min="0" floatLabelType="Auto" readonly="true" cssClass="e-outline"></ejs-numerictextbox>
                                                    </div>
                                                </div>


                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <ejs-textbox id="SpeciesID" ejs-for="Animal.Species.Description" placeholder="Select a Species" floatLabelType="Auto" readonly="true" cssClass="e-outline">
                                                        </ejs-textbox>

                                                    </div>
                                                </div>


                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <ejs-textbox ejs-for="Animal.Remarks" id="remarks" placeholder="Remarks" type="text" multiline="true" floatLabelType="Auto" readonly="true" cssClass="e-outline"></ejs-textbox>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>




                                <div class="row">
                                    <button class="btn btn-warning btn-block mt-2" type="button" data-toggle="collapse" data-target="#collapseAppointment" aria-expanded="false" aria-controls="collapseTwo">
                                        Appointment Information
                                    </button>

                                    <div class="collapse" id="collapseAppointment">
                                        <div class="card card-body bg-gradient-info">

                                            <ejs-grid id="Grid" dataSource="Model.GetAppointments" allowPaging="true" rowTemplate="#rowtemplate">
                                                <e-grid-pagesettings pageSize="3"></e-grid-pagesettings>
                                                <e-grid-columns>
                                                    <e-grid-column headerText="Doctor" textAlign="Center" width="150"></e-grid-column>
                                                    <e-grid-column headerText="Appointment Details" textAlign="Left" field="Id"></e-grid-column>
                                                </e-grid-columns>
                                            </ejs-grid>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalOwner">
                                                <i class="fa fa-user-circle"></i>
                                                Owner Details
                                            </button>
                                            <a asp-action="ListAnimal" asp-controller="Admin" class="btn btn-secondary">Back </a>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>

                    <div class="col-md-4 d-block align-items-lg-stretch">

                        <div class="card ml-5 mt-5  p-5 border-info">
                            <div class="card-header text-lg-center bg-info">
                                Animal picture
                            </div>
                            <div class="card-body text-lg-center">
                                @if (!string.IsNullOrEmpty(Model.Animal.ImageUrl))
                                {
                                    <img src="@Url.Content(Model.Animal.ImageUrl)" id="imgpreview" alt="image" style="max-height:88%; max-width:88%; border-radius:10px; margin:auto; cursor:pointer;" />
                                }
                                else
                                {
                                    <img src="/images/img.jpg" id="imgpreview" alt="image" style="max-height:88%; max-width:88%; border-radius:10px; margin:auto; cursor:pointer;" />
                                }
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="ModalOwner" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><i class="fa fa-user mr-2" style="color:green"></i> Owner Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row text-dark">
                    <div class="col-md-12">
                        <div class="form-group">
                            <ejs-textbox ejs-for="Client.FullName" id="fullname" type="text" placeholder="Full Name" floatLabelType="Always" readonly="true" cssClass="e-outline"></ejs-textbox>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="form-group">
                            <ejs-textbox ejs-for="Client.Address" id="address" placeholder="Address" type="text" floatLabelType="Always" readonly="true" cssClass="e-outline"></ejs-textbox>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <ejs-textbox ejs-for="Client.ZipCode" id="zipcode" placeholder="Zip Code" type="text" floatLabelType="Always" readonly="true" cssClass="e-outline"></ejs-textbox>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <ejs-textbox ejs-for="Client.TaxNumber" id="taxnumber" placeholder="Tax Number" type="text" floatLabelType="Always" readonly="true" cssClass="e-outline"></ejs-textbox>
                        </div>
                    </div>



                    <div class="col-md-6">
                        <div class="form-group">
                            <ejs-textbox ejs-for="Client.PhoneNumber" id="phoneNumber" placeholder="Phone Number" type="text" floatLabelType="Always" readonly="true" cssClass="e-outline"></ejs-textbox>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <ejs-textbox ejs-for="Animal.User.Email" id="useremail" placeholder="Email Address" type="text" floatLabelType="Always" readonly="true" cssClass="e-outline"></ejs-textbox>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<style type="text/css" class="cssStyles">


    .photo,
    .details {
        border-color: #e0e0e0;
        border-style: solid;
        color: black;
    }

    .photo {
        border-width: 1px 0px 0px 0px;
        text-align: center;
    }

    .details {
        border-width: 1px 0px 0px 0px;
        padding-left: 18px;
    }

    .e-bigger .details {
        padding-left: 25px;
    }

    .e-device .details {
        padding-left: 8px;
    }

    .details > table {
        width: 100%;
    }

    .CardHeader {
        font-weight: 600;
    }

    td {
        padding: 2px 2px 3px 4px;
    }
</style>

<script id="rowtemplate" type="text/x-template">
    <tr>
        <td class="photo">
            <b>${Doctor.FullName}</b>
        </td>
        <td class="details">
            <table class="CardTable" cellpadding="3" cellspacing="2">
                <colgroup>
                    <col width="50">
                    <col width="50">
                </colgroup>
                <tbody>
                    <tr>
                        <td class="CardHeader">Start Time</td>
                        <td>${StartTime.toLocaleString()} </td>
                    </tr>
                    <tr>
                        <td class="CardHeader">End Time</td>
                        <td>${EndTime.toLocaleString()} </td>
                    </tr>
                    <tr>
                        <td class="CardHeader">
                            Specialty
                        </td>

                        <td>
                            ${Specialty.Description}
                        </td>
                    </tr>
                    <tr>
                        <td class="CardHeader">
                            Remarks
                        </td>
                        <td>
                            ${Remarks}
                        </td>
                    </tr>

                </tbody>
            </table>
        </td>
    </tr>
</script>
