@model Veterinary.Models.AnimalViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="justify-content-start">

        <a style="font-size: 40px"><i class="fa fa-dog mr-2" style="color:green"></i>Register your animal</a>

    </div>
    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="wrapper">

                <div class="row no-gutters">

                    <div class="col-md-7">
                        <div class="contact-wrap w-100 p-md-5 p-4" >

                            <form method="POST" id="contactForm" name="contactForm" class="contactForm" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="Name" id="name" type="text" placeholder="Full Name" floatLabelType="Auto"></ejs-textbox>
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="Breed" id="breed" type="text" placeholder="Breed" floatLabelType="Auto"></ejs-textbox>
                                            <span asp-validation-for="Breed" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h3>Gender</h3>
                                            <ejs-radiobutton ejs-for="Gender" id="radio1" label="Male" value="M"></ejs-radiobutton>
                                            <ejs-radiobutton ejs-for="Gender" id="radio2" label="Female" value="F"></ejs-radiobutton>
                                            <span asp-validation-for="Gender" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="datepicker">
                                            <ejs-datepicker ejs-for="SelectDate" format="dd-MM-yyyy" id="datetimepicker" placeholder="Select a Date Of Birth" max="@DateTime.Now" floatLabelType="Auto"> </ejs-datepicker>
                                            <span asp-validation-for="SelectDate" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="Color" id="color" placeholder="Color" type="text" floatLabelType="Auto"></ejs-textbox>
                                            <span asp-validation-for="Color" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-numerictextbox ejs-for="Weight" id="weight" placeholder="Weigth" format="###.### kg" step="0.5" min="0" floatLabelType="Auto"></ejs-numerictextbox>
                                            <span asp-validation-for="Weight" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-numerictextbox ejs-for="Size" id="size" placeholder="Size" format="###.### cm" step="0.5" min="0" floatLabelType="Auto"></ejs-numerictextbox>
                                            <span asp-validation-for="Size" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <ejs-dropdownlist id="SpeciesID" ejs-for="SpeciesID" dataSource="Model.GetSpecies" placeholder="Select a Species" floatLabelType="Auto">
                                                <e-dropdownlist-fields text="Description" value="Id"></e-dropdownlist-fields>
                                            </ejs-dropdownlist>
                                            <span asp-validation-for="SpeciesID" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="Remarks" id="remarks" placeholder="Remarks" type="text" multiline="true" floatLabelType="Auto" ></ejs-textbox>
                                            <span asp-validation-for="Remarks" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="col-md-12">

                                        <div class="form-group">
                                            <label>Select a Image </label>
                                            <input asp-for="ImageFile" accept="image/*" type="file" id="image" />
                                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="submit" onclick="ValidateFile()" value="Create" class="btn btn-outline-success" />
                                            <a asp-action="Index" asp-controller="Animals" class="btn btn-outline-secondary">Back </a>
                                            <div class="submitting"></div>
                                        </div>
                                    </div>


                                </div>
                            </form>

                        </div>
                    </div>

                    <div class="col-md-5 d-flex align-items-stretch">
                        <div class="info-wrap w-100 p-5 img" style="background-image: url(../images/img.jpg);">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        var validFilesTypes = ["bmp", "gif", "png", "jpg", "jpeg"];
        //function ValidateFile() {
        var file = document.getElementById("image");
        var isValidFile = false;
        file.onchange = function () {
            var path = file.value;
            var ext = path.substring(path.lastIndexOf(".") + 1, path.length).toLowerCase();
            alert(ext);

            for (var i = 0; i < validFilesTypes.length; i++) {
                if (ext == validFilesTypes[i]) {
                    isValidFile = true;
                    break;
                }
            }
            alert(isValidFile);
            if (!isValidFile) {

                alert("Invalid File. Please upload a File with" +
                    " extension:\n" + validFilesTypes.join(", "));
                file.value = "";
            }
            //return isValidFile;
        }


        // }
    </script>
    <script type="text/javascript">
        function onRenderCell(args) {
            if (args.date.getDay() == 0 || args.date.getDay() == 6) {
                //sets isDisabled to true to disable the date.
                args.isDisabled = true;
            }
        }
    </script>


}



