<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - Veterinary</title>


    <environment include="Development">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="~/css/animate.css">

        <link rel="stylesheet" href="~/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="~/css/magnific-popup.css">


        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/jquery.timepicker.css">

        <link rel="stylesheet" href="~/css/flaticon.css">
        <link rel="stylesheet" href="~/css/style.css">

        <!-- Syncfusion Essential JS 2 Styles -->
        <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
        <!-- Data Table -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />


    </environment>



</head>

<body>

    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex align-items-sm-start">
                    <p class="mb-0 phone pl-md-2">
                        <a href="#" class="mr-2"><span class="fa fa-phone mr-1"></span> +00 1234 567</a>
                        <a href="#"><span class="fa fa-paper-plane mr-1"></span> youremail@email.com</a>
                    </p>
                </div>
                <div class="col-md-6 d-lg-flex justify-content-end">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <a asp-area="" asp-controller="Account" asp-action="ChangeUser" style="color:white">@this.User.Identity.Name</a>
                        <a asp-area="" asp-controller="Account" asp-action="Logout" style="color:white; padding-left:40px">Logout</a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Account" asp-action="Login" style="color:white">Login</a>
                    }
                </div>

            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><span class="flaticon-pawprint-1 mr-2"></span>Veterinary</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a></li>
                    <li class="nav-item "><a asp-area="" asp-controller="Home" asp-action="About" class="nav-link">About</a></li>
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                    {
                        <li class="nav-item"><a asp-area="" asp-controller="Account" asp-action="ListClient" class="nav-link">Clients</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="DocumentTypes" asp-action="Index" class="nav-link">Documents</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="Species" asp-action="Index" class="nav-link">Species</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="Specialties" asp-action="Index" class="nav-link">Specialties</a></li>

                    }
                    else if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Owner"))
                    {
                        <li class="nav-item"><a asp-area="" asp-controller="Animals" asp-action="Index" class="nav-link">Animals</a></li>
                    }


                    @*<li class="nav-item"><a href="vet.html" class="nav-link">Veterinarian</a></li>
        <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
        <li class="nav-item"><a href="gallery.html" class="nav-link">Gallery</a></li>
        <li class="nav-item"><a href="pricing.html" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>*@
                    <li class="nav-item "><a asp-area="" asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a></li>
                    @*<li class="nav-item "><a asp-area="" asp-controller="Clientes" asp-action="Index" class="nav-link">Clients</a></li>*@
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->


    <partial name="_CookieConsentPartial" />



    @RenderBody()


<environment include="Development">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/jquery.timepicker.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/js/google-map.js"></script>
    <script src="~/js/main.js"></script>
    <!-- Syncfusion Essential JS 2 Scripts -->
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!-- Data Table -->
    <script type="text/javascript">
            $(document).ready(function () {
                $('#MyTable').DataTable();
            });
    </script>
</environment>

    @RenderSection("Scripts", required: false)
    <ejs-scripts></ejs-scripts>

</body>
</html>

